/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*-----------------------我是分隔線----------------------*/


*, *::before, *:after{
	box-sizing: border-box;
}
body {
	font-family: 'Noto Sans TC', sans-serif, Arial, Microsoft JhengHei ;
	font-weight: 700;
  }


.title{
	justify-content: space-between;
	display: flex;
	border-bottom:2px solid #F2F2F2;
	padding: 20px 0px;
	align-items: center;
	margin: 0 auto;
	width: 90%;
	/*width: 1310px;*/
	
}
.header-nav{
	justify-content:center;
	display: flex;
	align-items: center;
}
.slogan{
	width: 90%;
	/*width: 1310px;*/
	margin-left: auto;
	margin-right: auto;
}
.slogan h1{
	font-size: 120px;
	color: #ffffff;
	font-weight: bold;
	padding-top: 80px;
	justify-content:flex-start;
	line-height: 144px;
	margin-left: 1em;
}

.slogan h2{
	justify-content:flex-end;
	color: #F2F2F2;
	line-height:1.5em;
	display: flex;
	font-size: 4em;
	margin-right: 1em;
}

.btn3{
	display: block;
	text-decoration: none;
	font-size: 40px;
	margin-top: 100px;
}
.btn3 li a{
	border: 2px solid #ffff;
	border-radius: 40px;
	padding: 35px 70px 35px 70px;
	margin: 0px 0px 0px 120px;
	text-decoration: none;
	color: #ffffff;
}
.slogan h4{
	font-size: 3em;
	color: #000000;
}
.slogan2{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0em 2em 0em 6em;
}
.intros{
	display: flex;
	justify-content: center;
	margin-top: 100px;
	margin-bottom: 180px;

}
.intro{
	width: 30%;
	border: .5px solid #ffffff;

	border-radius: 50px;
	justify-content: space-around;
	margin: 30px;
	padding: 100px 40px 100px 40px;
}
.intro img{
	height: 180px;
}
.intro h6{
	color: #ffffff;
	font-size: 1.5em;
	padding: 20px 0px 20px 0px;
}
.intro p{
	color: #ffffff;
	font-size: 1em;
	line-height: 2em;
	font-weight: 100;
}

.grass {
	height: 200px;
	margin-top: 238px;
	position: relative;
	top: 100px;
	animation: transfrom 5s linear;
	margin-bottom: 14em;
	margin-left: 8em;
	display: flex;
	justify-content: end;
	
}
.grass:hover{
	transform: translate(0px,-100px);
  transition: all 5s;
}



.feedbacks{
	display: flex;
	justify-content: center;
	margin-top: 180px;
}
.feedback{
	margin: 0px 20px 20px 20px;
	justify-content: space-between;
	width: 30%;
	padding: 60px 60px 0px 60px;
	background-color: rgba(255, 255, 255, 0.08);
	border-radius: 30px;
}
.feedback p{
	font-size:2em;
	font-weight: 100;
	color: #ffffff;
	line-height: 2.2em;
	margin-bottom: 80px;
	margin-top: 30px;
	height: 55%;

}
.feedback img{
	height: 35px;
	margin: 10px;
}
.client{
	display: flex;
}
.cf{
	margin-left: 30px;
	
}
.cf h6{
	font-size: 2em;
	color: #ffffff;
	margin: 10px 0px 10px 0px;
}
.client img{
	height: 100px;
}

.title ul{
	display: flex;
	padding-right: 26px;
	font-size: 16px;
}
.title a{
	padding-right: 20px;
	text-decoration: none;
	color: #F2F2F2;
	
}
.title img{
	width: 20%;
	height: 20%;
}

.wrap{
	width: 100%;  /*1992px*/
	border:2px #000 solid;
	background-color: #000;
	align-items: center;
}

.container{
  background-color: #fff;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 160px;  
  font-size: 16px; 
}

.header{
	width: 75%;/*width: 1296px;*/
	margin-left: auto;
        margin-right: auto;
}
.header h4{
	font-size: 80px;
	text-align: center;
	margin-top: 160px;
	padding-top: 150px;
	font-style: bold;
	font-weight: bold;
}
.header h2{
	font-size: 80px;
}
.menu{
	display: flex;
	justify-content: space-between;
	margin-top: 44px;
	margin-bottom: 40px;
	align-items: center;
}
.menu .list{
	display: flex;
}
.menu li{	padding: 0px 2px 0px 2px;
}
.list li a{

	padding: 20px;
	border-radius: 16px;
	margin: 0px 10px 0px 10px;
}
.list li a:hover{
	background-color:#000000;
	color: #fff;
}


.menu a{
	text-decoration: none;
	color: #000;
}

.btn1{
	border: 1px solid #F2F2F2;
    border-radius:16px;	
}
.btn1 li a{

	padding:20px 40px 20px 40px ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn1 li a:hover{
	background-color: #000;
	color: #fff;
	border-radius:16px;
}

.btn1 li a{
	font-size: 16px;
	padding:20px 40px 20px 40px ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn1 li a :hover {
	background-color: #000;
	color: #fff;
	border-radius:16px;
}


.btn2{
	border: 1px solid #F2F2F2;
	border-radius:16px;
}
.btn2 li a{
	padding:20px 40px 20px 40px ;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:16px;
}
.btn2 li a:hover{
	background-color: #000;
	color: #fff;
	border-radius:16px;
}

.btn2 li{
	list-style: none;
}

.no1{
	padding:8px 16px 8px 16px ;
	border:1px solid #000;
	margin-left: 20px;
}
.content{
    width:80%;/*1325px*/
   margin: 0 auto ;
   display: flex;
   justify-content: center;
   align-items: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%; /*1325*/
	justify-content: center;
}


.item img:hover {
	transform: scale(1.2);
	}
	

.item img{
	transition: all 4s;
	width: 100%;  }	

.item{
    width: 30%;/*416px*/
    padding: 0px 0px 12px 0px;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 20px;
	border: 1px solid #F2F2F2;
	border-radius: 5%;
	align-self: normal;

}



.img-container{
	border-top-right-radius: 5%;
	border-top-left-radius: 5%;
	overflow: hidden;
} 

.text h3{
	font-size: 1.5em;
	line-height: 1em;
	margin-bottom: 12px;
	margin-top: 20px;
	padding-left: 32px;
	padding-right: 20px;

	
}
.text p{
	font-size:1em;
	line-height: 1.5em;
	padding-left: 32px;
	padding-right: 32px;
	font-weight: 100;
}
.text{
	height: 18em;
	
}


.model ul{
	display: flex;
	justify-content: space-between;
	padding: 32px;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid #F2F2F2;
}
.model li a {
	text-decoration: none;
	color: #000;
}

.searchbar{
	margin: auto;
	margin-top: 80px;
	position: relative;
	width: 100%;/*1270px*/
	height: 6em;
	border: 4px solid #F2F2F2;
	background: #F2F2F2;
	padding: 0 10px;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
}
.elementscontainer{
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.search{
	border: none;
	height: 100%;
	width: 100%;
	background: #F2F2F2;
}
 


.footer{
	/*width: 700px;*/	
}


.pagenav li{
 margin-left:4px ;
 font-size: 2em;
 padding-left: 24px;
 padding-right: 24px;
 margin-left: 4px;

}
.pagenav ul {
	padding-top: 40px;
	padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.pagenav li a{
 text-decoration: none;
 color: #000;
  display: block;
 justify-content: center;
 align-items: center;
 padding: 12px 15px 12px 15px;
}

.pagenav li a:hover{
   background-color: #000;
  color:#fff;
  border-radius:16px;
}

.elementscontainer.search{
	width: 100%;
}
.content2{
	display: flex;
	align-items: center;
	margin: 4em;
	justify-content: center;
	border-bottom: 1px solid #ffffff;
	flex-direction: column;
}

.content2 h5{
	font-size: 5em;
	color: #ffffff;
	padding:2em;
}
.content2 a{
	display: block;
	font-size: 3em;
	color: #ffffff;
	border: 1px solid #fafafa;
	padding: 1em 1.5em 1em 1.5em;
	border-radius: 20px;
	text-decoration: none;
	margin-bottom: 160px;
}
.noname{
	display: flex;
	justify-content: space-between;
	margin-top: 160px;
	margin-bottom: 160px;
}
.noname li{
	font-size: 104px;
	color: #ffffff;
}
.noname img{
	height: 80px;
}
.footer{
	display: flex;
	justify-content: space-between;
}
.footer h5{
	color: #ffffff;
	font-size: 30px;
	font-weight: 200;
}
.footer ul{
	display: flex;
}
.footer li a{
	display: block;
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
	font-weight: 200;
	padding: 10px;
	margin: 10px;
}
/*.footer a{
	color: #ffffff;
	text-decoration: none;
	font-size: 30px;
	font-weight: 200;
}*/
.footer #myBtn {
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	color: white; /* Text color */
	padding: 15px; /* Some padding */
	font-size: 30px;
	font-weight: 200;
	background-color: #000;
	border: #000;
}


@media(max-width:820px){
	.wrap{
		max-width: 100%;
		overflow-x: auto;
	}
	.container{
		background-color: #fff;
		max-width: 100%;
		border-radius: 50px; 
		overflow-x: auto;  
	}
	.searchbar{
		height: 3.5em;
	}
	.item {
		width:45%;
		flex-wrap: wrap;
	}
	.text h3{
		font-size: 2em;
	}
	.header{
		width: 85%;
	}
	.list li a{
		font-size: 1em;
		letter-spacing: 1px;
		padding: 3px;
		margin: 10px;

	}
	.btn1 li a{
		font-size: 1em;
		padding: 5px;
		margin: 4px;
	}
	.btn2 li a{
		font-size: 1em;
		padding: 5px;
		margin: 4px;
	}
    /*	.searchbar{
		display: none;
	}*/
	.pagenav ul {
		align-items: center;
		justify-content: center;

    }
	.text{
		height: 28em;
		
	}
	
}



@media(max-width:390px){
	.item{
		width: 100%;
		padding: 0px 0px 12px 0px;
		margin-left: 2px;
		margin-right: 2px;	
	}
	.text{
		height: 10em;
	}
	.text h3{
		font-size: 1.5em;
		line-height: 1em;
	}
	.text p{
		font-size: 1.2em;
		line-height: 1.2em;
		padding-left: 32px;
		padding-right: 32px;
		font-weight: 100;
		letter-spacing: 1px;
	}
	.model ul{
		font-size: 1em;
	}
	
	.wrap{
		max-width: 390px;
		overflow-x: auto;
	}
	.btn3{
		font-size:20px;
		margin-top: 80px;
	}
	.btn3 li a{
		border: 2px solid #ffff;
		border-radius: 20px;
		padding: 20px 40px 20px 40px;
		margin: 0px 0px 0px 0px;
		display: flex;
		justify-content: center;
	}
	.title{
		border: none;
	}
	.title img{
		justify-content: flex-start;
		width: 200px;
		height: 30px;
	} 
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: #ffffff;
		margin: 6px 0;
		transition: 0.4s;
		
	}
	.container1 {
		cursor: pointer;
		padding: 10px;
	}
	.header-nav{
		display: flex;
		flex-direction: row-reverse;
	    width: 100%;
	}
	.title ul{
		display:block;
	}
	.list a{
		display: none;
	}
	.searchbar{
		display: none;
	}
	.cards{
		
		flex-wrap: wrap; 
	}
	.item .img-container{
		width:100%;
		flex-wrap: wrap;
		
	}
	.change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	  }
	  
	  .change .bar2 {opacity: 0;}
	  
	  .change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	}
	.header h1{
		font-size: 2em;
		text-align: left;
	}
	.container{
		background-color: #fff;
		max-width: 390px;
		border-radius: 20px; 
		overflow-x: auto;  
	}
	.btn1,.btn2{
		display: none;
	}
	.slogan h1{
		font-size: 40px;
		line-height: 60px;
	}	
	.grass{
		height: 80px;
	}

}


